<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10">
    <Properties>
        <Property name="LOG_PATTERN">%d{dd.MM.yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="FileAppender" fileName="logs/transferApp.log" filePattern="logs/transferApp-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 mB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.demo.example" level="info" additivity="false">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>